* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.todo_input {
    text-align: center;
}

.todo_input input {
    width: 100%;
    height: 50px;
    font-size: 36px;
}